.eBienvenida{

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("../imagenes/jaskierSprite.png");
	background-position: 0%;
	background-size: cover;
	font-family: 'Germania One', cursive;
	color: white;
	height: 90vh;	
	font-size: 2em;
	/*Abreviar sentencia animacion: animation-name,
	animation-duration, animation-timing-function,
	animation-delay,animation-iteration-count,
	animation-direction,animation-fill-mode*/ 
	animation: deslizarBackGround 30s ease-in-out 1ms infinite forwards;
}

.titulo {
	padding: 10vw 10vw;
}

#actionBtn  {
	font-family: 'Germania One', cursive;
	color: white;
	background: #2D1657;
	text-align: center;
	border: none;
	font-size: 0.8em;
	cursor: pointer;
	padding: 0.4em 0.7em;
	margin: 1vw 0vw 1vw 14vw;
}

#actionBtn:hover {
	background: #18063A;
}

@keyframes deslizarBackGround{
  6.6%,20% {
    background-position: 0%;
  }
  26.5%,40% {
	background-position: 25%;
  }
  46.4%,60% {
	background-position: 50%;
  }
  66.3%,80% {
	background-position: 75%;
  }
  86.26%,100% {
	background-position: 100%;
  }
}

@media only screen and (max-width: 600px) {

	.eBienvenida{
	
		background-position: 6.5%;

	}

	@keyframes deslizarBackGround{
	  6.6%,20% {
	    background-position: 6.5%;
	  }
	  26.5%,40% {
		background-position: 35%;
	  }
	  46.4%,60% {
		background-position: 50%;
	  }
	  66.3%,80% {
		background-position: 69%;
	  }
	  86.26%,100% {
		background-position: 97%;
	  }
	}
	
}